<!DOCTYPE html>
<html lang="zh-CN" ng-app='IndexApp'>
<head>
    <title>NodeJS Blog</title>
    <% include ./include/head.html %>
    <script type="text/javascript" src="/controller/IndexController.js"></script>
</head>
<body ng-controller="IndexController">
<% include ./include/top.html %>
<div class="container margin_top10">
    <div class="row">
        <div class="col-md-9">
            <div class="jumbotron">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入关键字搜索">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">搜索</button>
                        </span>
                </div>
                <h1>缤纷世界</h1>

                <h3>我们不是军人，我们不是书生，我们不是官员，我们更不是机器，我们是程序员！</h3>
            </div>
            <ul class="pager">
                <li class="previous"><a href="#">&larr; 上一页</a></li>
                <li class="next"><a href="#">下一页 &rarr;</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <pre class="prettyprint linenums">&lt;p&gt;示范文本...&lt;/p&gt;</pre>
        </div>
    </div>
</div>
</body>
</html>