<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="/javascripts/common/jquery-easyui-1.4/themes/default/easyui.css"/>
    <link rel="stylesheet" href="/javascripts/common/jquery-easyui-1.4/themes/icon.css"/>
    <link rel="stylesheet" href="/stylesheets/manageMain.css"/>

    <script type="text/javascript" src="/javascripts/common/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/common/jquery.form.js"></script>
    <script type="text/javascript" src="/javascripts/common/jquery-easyui-1.4/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/javascripts/common/jquery-easyui-1.4/locale/easyui-lang-zh_CN.js"></script>

    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>

    <script type="text/javascript" src="/javascripts/common/My97DatePicker/WdatePicker.js"></script>

    <script type="text/javascript" src="/javascripts/common/baseManage.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/user.js"></script>
</head>
<body>
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north', title: ' '" class="main_north">
            <div style="float: left"><img src="/images/toplogo-main.png" width="600px" height="50px;"></div>
            <!-- 右侧菜单div -->
            <div class="absolute_right_bottom">
                <span class="normalfont" style="color: #0081C2">&nbsp;欢迎您：<%=session.user.username%> 今天是：<span id="time"></span> </span>
                <!-- 个人设置菜单 -->
                <a href="javascript:void(0);" class="easyui-menubutton" menu="#person_settings_menu" iconCls="icon-help">个人设置</a>
                <div id="person_settings_menu" class="top_menu_div">
                    <div onclick="manageUser.toPersonSet(600, 360, '个人信息')"> 个人信息</div>
                    <div class="menu-sep"></div>
                    <div onclick="manageUser.toModifyPassword(500,200,'修改密码')"> 修改密码</div>
                </div>
                <!-- 退出系统菜单 -->
                <a href="javascript:void(0);" class="easyui-menubutton" menu="#exit_system_menu" iconCls="icon-back">安全退出</a>
                <div id="exit_system_menu" class="top_menu_div">
                    <div class="menu-sep"></div>
                    <div onclick="mangeUserLogout('/manage/logout');">退出系统</div>
                </div>
            </div>
            <!-- 个人设置窗口 -->
            <div id="personSet_Window" title="个人设置"></div>
            <!-- 修改密码窗口 -->
            <div id="modifyPassword_Window" title="修改密码"></div>
        </div>
        <div data-options="region:'west',split:true" title="系统操作菜单" style="width:160px;">
            <ul id="sysMenuTree" class="easyui-tree" data-options="lines:true, url: '/manage/menu',method:'get'"></ul>
        </div>
        <div data-options="region:'center'">
            <div id="manageTabs" class="easyui-tabs" data-options="border: false, fit: true">
                <div title="主页"></div>
            </div>
        </div>
    </div>
</body>
</html>