<form action="/manage/user/add" method="post" id="add_user_form">
    <table class="common_table">
        <tr>
            <th width="30%" align="right">用户名：</th>
            <td width="70%"><input class="input_240 easyui-validatebox" data-options="required:true" type="text" name="username"/></td>
        </tr>
        <tr>
            <th width="30%" align="right">手机：</th>
            <td width="70%"><input class="input_240 easyui-textbox" type="text" name="telephone"/></td>
        </tr>
        <tr>
            <th width="30%" align="right">邮箱：</th>
            <td width="70%"><input class="input_240 easyui-textbox" type="text" name="email"/></td>
        </tr>
        <tr>
            <th width="30%" align="right">状态：</th>
            <td width="70%">
                <select class="input_240" name="status">
                    <option value="1">启用</option>
                    <option value="0">停用</option>
                </select>
            </td>
        </tr>
    </table>
</form>