<form action="/manage/user/edit" method="post" id="edit_user_form">
    <input type="hidden" name="id" value="<%=user.id%>"/>
    <table class="common_table">
        <tr>
            <th width="30%" align="right">用户名：</th>
            <td width="70%"><input class="input_240 easyui-validatebox" data-options="required:true" type="text" name="username" value="<%=user.username%>"/></td>
        </tr>
        <tr>
            <th width="30%" align="right">手机：</th>
            <td width="70%"><input class="input_240 easyui-textbox" type="text" name="telephone" value="<%=user.telephone%>"/></td>
        </tr>
        <tr>
            <th width="30%" align="right">邮箱：</th>
            <td width="70%"><input class="input_240 easyui-textbox" type="text" name="email" value="<%=user.email%>"/></td>
        </tr>
        <tr>
            <th width="30%" align="right">状态：</th>
            <td width="70%">
                <select class="input_240" name="status">
                    <option value="1" <%if(user.status == 1){%>selected="selected"<%}%> >启用</option>
                    <option value="0" <%if(user.status == 0){%>selected="selected"<%}%> >停用</option>
                </select>
            </td>
        </tr>
    </table>
</form>